.studentList {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.studentList thead tr {
  background-color: #460006;
  color: #ff6767;
  text-align: left;
}

.studentList th,
.studentList td {
  padding: 12px 15px;
}

.studentList tbody tr {
  border-bottom: 1px solid #dddddd;
}

.studentList tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.studentList tbody tr:last-of-type {
  border-bottom: 2px solid #470000;
}

.studentList tbody tr.active-row {
  font-weight: bold;
  color: #ff6a6a;
}
